In [1]:
# Code to extract specific districts from the excel files 
import pandas as pd
from datetime import date

In [70]:
tmp= pd.read_excel('EXCEL/01-03-2021.xlsx')

In [64]:
# date_df = pd.date_range(start='03/01/2021', end='05/27/2021')
# date = []
# import re
# for i in date_df:
#     i = str(i)
#     x = re.split("\s", i)
#     date.append(x[0])
# df = pd.DataFrame (columns = tmp.columns)
# #df['Date'] = date
# df.head()#

Empty DataFrame
Columns: [District Name, Today’s Positives, Total Positives, Today’s Discharges, Total Discharges, Total Active Cases, Today’s Reported Covid Deaths, Total Covid Deaths, Death due to Non- Covid reasons]
Index: []

In [9]:
# Code to extract specific districts from the excel files 
import pandas as pd
from datetime import date

date_df = pd.date_range(start='03/01/2021', end='05/27/2021')
tmp= pd.read_excel('EXCEL/01-03-2021.xlsx')
df = pd.DataFrame (columns = tmp.columns)

t=0
for i in date_df:
    target_date = i
    temp = str(target_date)[:10]
    result = temp.split("-")
    new_result = date(int(result[0]),int(result[1]),int(result[2]))
    month = new_result.strftime("%b").upper()
    year = result[0][2:]
    # date_requried = the date we'll be working on for each iteration 
    date_required = result[2] + "-" + result[1] + "-" + result[0]
    print('Working on the following day: ' + date_required)
    
    tmp= pd.read_excel('EXCEL/'+date_required+'.xlsx')
    tmp2 = tmp[tmp['District Name'] == 'Bengaluru Urban']
    x = re.split("\s", i)
    tmp2 

    df = pd.concat([df,tmp2])

Working on the following day: 01-03-2021
Working on the following day: 02-03-2021
Working on the following day: 03-03-2021
Working on the following day: 04-03-2021
Working on the following day: 05-03-2021
Working on the following day: 06-03-2021
Working on the following day: 07-03-2021
Working on the following day: 08-03-2021
Working on the following day: 09-03-2021
Working on the following day: 10-03-2021
Working on the following day: 11-03-2021
Working on the following day: 12-03-2021
Working on the following day: 13-03-2021
Working on the following day: 14-03-2021
Working on the following day: 15-03-2021
Working on the following day: 16-03-2021
Working on the following day: 17-03-2021
Working on the following day: 18-03-2021
Working on the following day: 19-03-2021
Working on the following day: 20-03-2021
Working on the following day: 21-03-2021
Working on the following day: 22-03-2021
Working on the following day: 23-03-2021
Working on the following day: 24-03-2021
Working on the following day: 25-03-2021
Working on the following day: 26-03-2021
Working on the following day: 27-03-2021
Working on the following day: 28-03-2021
Working on the following day: 29-03-2021
Working on the following day: 30-03-2021
Working on the following day: 31-03-2021
Working on the following day: 01-04-2021
Working on the following day: 02-04-2021
Working on the following day: 03-04-2021
Working on the following day: 04-04-2021
Working on the following day: 05-04-2021
Working on the following day: 06-04-2021
Working on the following day: 07-04-2021
Working on the following day: 08-04-2021
Working on the following day: 09-04-2021
Working on the following day: 10-04-2021
Working on the following day: 11-04-2021
Working on the following day: 12-04-2021
Working on the following day: 13-04-2021
Working on the following day: 14-04-2021
Working on the following day: 15-04-2021
Working on the following day: 16-04-2021
Working on the following day: 17-04-2021
Working on the following day: 18-04-2021
Working on the following day: 19-04-2021
Working on the following day: 20-04-2021
Working on the following day: 21-04-2021
Working on the following day: 22-04-2021
Working on the following day: 23-04-2021
Working on the following day: 24-04-2021
Working on the following day: 25-04-2021
Working on the following day: 26-04-2021
Working on the following day: 27-04-2021
Working on the following day: 28-04-2021
Working on the following day: 29-04-2021
Working on the following day: 30-04-2021
Working on the following day: 01-05-2021
Working on the following day: 02-05-2021
Working on the following day: 03-05-2021
Working on the following day: 04-05-2021
Working on the following day: 05-05-2021
Working on the following day: 06-05-2021
Working on the following day: 07-05-2021
Working on the following day: 08-05-2021
Working on the following day: 09-05-2021
Working on the following day: 10-05-2021
Working on the following day: 11-05-2021
Working on the following day: 12-05-2021
Working on the following day: 13-05-2021
Working on the following day: 14-05-2021
Working on the following day: 15-05-2021
Working on the following day: 16-05-2021
Working on the following day: 17-05-2021
Working on the following day: 18-05-2021
Working on the following day: 19-05-2021
Working on the following day: 20-05-2021
Working on the following day: 21-05-2021
Working on the following day: 22-05-2021
Working on the following day: 23-05-2021
Working on the following day: 24-05-2021
Working on the following day: 25-05-2021
Working on the following day: 26-05-2021
Working on the following day: 27-05-2021

In [10]:
date_df = pd.date_range(start='03/01/2021', end='05/27/2021')
date = []
import re

for i in date_df:
    i = str(i)
    x = re.split("\s", i)
    date.append(x[0])

    
print(t)
t = 0
for i in date:
    t += 1
t

88

88

In [11]:
df['Date'] = date

ValueError: Length of values (88) does not match length of index (85)

In [12]:
df

,District Name,Today’s Positives,Total Positives,Today’s Discharges,Total Discharges,Total Active Cases,Today’s Reported Covid Deaths,Total Covid Deaths,Death due to Non- Covid reasons
4,Bengaluru Urban,210,405847,110,397271,4092,4,4483,1
4,Bengaluru Urban,282,406129,159,397430,4211,4,4487,1
4,Bengaluru Urban,311,406440,235,397665,4285,2,4489,1
4,Bengaluru Urban,385,406825,310,397975,4358,2,4491,1
4,Bengaluru Urban,444,407269,208,398183,4592,2,4493,1
...,...,...,...,...,...,...,...,...,...
4,Bengaluru Urban,8214,1112058,36030,840086,261115,200,10856,1
4,Bengaluru Urban,5701,1125253,34378,886871,226868,297,11513,1
4,Bengaluru Urban,6243,1131496,13210,900081,219551,350,11863,1
4,Bengaluru Urban,6433,1137929,18342,918423,207357,285,12148,1
4,Bengaluru Urban,5949,1143878,6643,925066,206390,273,12421,1